<section class="min-h-screen bg-white">
    <!-- Contenedor con la imagen de fondo y el texto -->
<div class="relative w-full h-24 md:h-28 lg:h-32 xl:h-56">
  <div class="relative h-full w-full 
              bg-[url('/assets/flota/cabecera2.jpg')] 
              bg-cover bg-center bg-no-repeat">
              
    <!-- Capa oscura y texto centrado -->
    <div class="absolute inset-0 bg-black bg-opacity-60 flex justify-center items-center">
      <h1 class="text-white text-xl md:text-3xl lg:text-4xl font-bold shadow-text">
        Fierro
      </h1>
    </div>
  </div>
</div>

  <!-- Contenedor con el texto y las tarjetas de productos -->

  <div class="mx-auto py-16 md:pl-10 md:pr-10  pl-8 pr-8 lg:pl-16 lg:pr-16 bg-white">
    <!-- Contenedor de productos -->
    <div class="grid max-w-7xl mx-auto grid-cols-1 gap-y-5 gap-x-8 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
    <!-- Producto 1 -->
    <article
      class="flex flex-col items-center text-center bg-white shadow-md rounded-3xl p-6 hover:shadow-lg transition-shadow duration-300 h-full">
      
      <img alt="Producto 1" src="/assets/producto/fierro1.png"
        class="h-44 w-auto object-contain rounded-2xl mb-4 transition-transform duration-300 transform hover:scale-150" />
      
      <h3 class="text-lg font-bold text-gray-800">Dimensiones y Pesos</h3>
      <p class="mt-2 text-sm text-gray-600">
          Consulta detallada de medidas y pesos de fierros.
          Ideal para estimar el material necesario en obra.
          Información técnica precisa y de referencia.</p>
    </article>

        <!-- Producto 2 -->
    <article
      class="flex flex-col items-center text-center bg-white shadow-md rounded-3xl p-6 hover:shadow-lg transition-shadow duration-300 h-full">
      
      <img alt="Producto 2" src="/assets/producto/fierro2.png"
        class="h-44 w-auto object-contain rounded-2xl mb-4 transition-transform duration-300 transform hover:scale-105" />
      
      <h3 class="text-lg font-bold text-gray-800">Fierro Corrugado - 5/8''</h3>
      <p class="mt-2 text-sm text-gray-600">
        Barra de acero con resaltes para estructuras.
        Alta adherencia al concreto y gran resistencia.
        Usada en columnas, vigas y losas exigentes.
      </p>
    </article>
  <!-- Producto 3 -->
      <article
      class="flex flex-col items-center text-center bg-white shadow-md rounded-3xl p-6 hover:shadow-lg transition-shadow duration-300 h-full">
      
      <img alt="Producto 2" src="/assets/producto/fierro3.png"
        class="h-44 w-auto object-contain rounded-2xl mb-4 transition-transform duration-300 transform hover:scale-105" />
      
      <h3 class="text-lg font-bold text-gray-800">Fierro Corrugado - 3/4''</h3>
      <p class="mt-2 text-sm text-gray-600">
       Acero reforzado para grandes estructuras.
      Soporta altas cargas con gran durabilidad.
      Perfecto para cimentaciones y columnas.
      </p>
    </article>

      <!-- Producto 4 -->

      <article
      class="flex flex-col items-center text-center bg-white shadow-md rounded-3xl p-6 hover:shadow-lg transition-shadow duration-300 h-full">
      
      <img alt="Producto 2" src="/assets/producto/fierro4.png"
        class="h-44 w-auto object-contain rounded-2xl mb-4 transition-transform duration-300 transform hover:scale-105" />
      
      <h3 class="text-lg font-bold text-gray-800">Fierro Corrugado - 1/2''</h3>
      <p class="mt-2 text-sm text-gray-600">
        Diseñado para adherirse al concreto armado.
        Resiste esfuerzos de tracción en obras.
        Se aplica en vigas, columnas y losas.
      </p>
    </article>

        <!-- Producto 5 -->

      <article
      class="flex flex-col items-center text-center bg-white shadow-md rounded-3xl p-6 hover:shadow-lg transition-shadow duration-300 h-full">
      
      <img alt="Producto 2" src="/assets/producto/fierro5.png"
        class="h-44 w-auto object-contain rounded-2xl mb-4 transition-transform duration-300 transform hover:scale-105" />
      
      <h3 class="text-lg font-bold text-gray-800">Fierro Corrugado - 1/4''</h3>
      <p class="mt-2 text-sm text-gray-600">
        Delgado, versátil y fácil de manipular.
        Utilizado en estribos, mallas y refuerzos.
        Ideal para detalles y acabados estructurales.
      </p>

    </article>

        <!-- Producto 6 -->

      <article
      class="flex flex-col items-center text-center bg-white shadow-md rounded-3xl p-6 hover:shadow-lg transition-shadow duration-300 h-full">
      
      <img alt="Producto 2" src="/assets/producto/fierro5.png"
        class="h-44 w-auto object-contain rounded-2xl mb-4 transition-transform duration-300 transform hover:scale-105" />
      
      <h3 class="text-lg font-bold text-gray-800">Fierro Corrugado - 6mm</h3>
      <p class="mt-2 text-sm text-gray-600">
            Equivale a 1/4'', ideal para refuerzos livianos.
            Buena flexibilidad y adherencia al concreto.
            Se emplea en mallas y estructuras pequeñas.
      </p>
    </article>

  </div>
</div>
</section>