<section class="min-h-screen bg-white">
    <!-- Contenedor con la imagen de fondo y el texto -->
    <div class="relative w-full h-24 md:h-32 lg:h-36  ">
        <div class="image-container relative w-full h-full">
            <!-- Superposición y texto centrado -->
            <div class="absolute inset-0 bg-black bg-opacity-60 flex justify-center items-center">
                <h1 class="text-white text-xl md:text-3xl lg:text-4xl font-bold shadow-text">
                    Fierro
                </h1>
            </div>
        </div>
    </div>


  <!-- Contenedor con el texto y las tarjetas de productos -->

  <div class="mx-auto py-16 md:pl-10 md:pr-10  pl-8 pr-8 lg:pl-16 lg:pr-16 bg-white">
    <!-- Contenedor de productos -->
    <div class="grid max-w-7xl mx-auto grid-cols-1 gap-y-5 gap-x-8 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
    <!-- Producto 1 -->
    <article
      class="flex flex-col items-center text-center bg-white shadow-md rounded-3xl p-6 hover:shadow-lg transition-shadow duration-300 h-full">
      
      <img alt="Producto 1" src="/assets/producto/fierro1.png"
        class="h-44 w-auto object-contain rounded-2xl mb-4 transition-transform duration-300 transform hover:scale-105" />
      
      <h3 class="text-lg font-bold text-gray-800">Dimensiones y Pesos</h3>
      <p class="mt-2 text-sm text-gray-600">Tabla con medidas del Fierro Corrugado</p>
    </article>

        <!-- Producto 2 -->
    <article
      class="flex flex-col items-center text-center bg-white shadow-md rounded-3xl p-6 hover:shadow-lg transition-shadow duration-300 h-full">
      
      <img alt="Producto 2" src="/assets/producto/fierro2.png"
        class="h-44 w-auto object-contain rounded-2xl mb-4 transition-transform duration-300 transform hover:scale-105" />
      
      <h3 class="text-lg font-bold text-gray-800">Fierro Corrugado - 5/8''</h3>
      <p class="mt-2 text-sm text-gray-600">Es una barra de acero con resaltes, usada en elementos estructurales como vigas, columnas y losas. Proporciona buena resistencia y adherencia al concreto, siendo ideal para construcciones que requieren solidez y estabilidad.</p>
    </article>
  <!-- Producto 3 -->
      <article
      class="flex flex-col items-center text-center bg-white shadow-md rounded-3xl p-6 hover:shadow-lg transition-shadow duration-300 h-full">
      
      <img alt="Producto 2" src="/assets/producto/fierro3.png"
        class="h-44 w-auto object-contain rounded-2xl mb-4 transition-transform duration-300 transform hover:scale-105" />
      
      <h3 class="text-lg font-bold text-gray-800">Fierro Corrugado - 3/4''</h3>
      <p class="mt-2 text-sm text-gray-600">Es una barra de acero reforzado con resaltes, ideal para estructuras de gran exigencia como columnas, vigas y cimentaciones. Ofrece alta resistencia a la tracción y excelente adherencia al concreto, garantizando seguridad y durabilidad en obras estructurales.</p>
    </article>

      <!-- Producto 4 -->

      <article
      class="flex flex-col items-center text-center bg-white shadow-md rounded-3xl p-6 hover:shadow-lg transition-shadow duration-300 h-full">
      
      <img alt="Producto 2" src="/assets/producto/fierro4.png"
        class="h-44 w-auto object-contain rounded-2xl mb-4 transition-transform duration-300 transform hover:scale-105" />
      
      <h3 class="text-lg font-bold text-gray-800">Fierro Corrugado - 1/2''</h3>
      <p class="mt-2 text-sm text-gray-600">Es una barra de acero con resaltes diseñada para mejorar la adherencia con el concreto. Se utiliza en vigas, columnas y losas, ofreciendo alta resistencia a la tracción y durabilidad estructural en construcciones de concreto armado.</p>
    </article>

        <!-- Producto 5 -->

      <article
      class="flex flex-col items-center text-center bg-white shadow-md rounded-3xl p-6 hover:shadow-lg transition-shadow duration-300 h-full">
      
      <img alt="Producto 2" src="/assets/producto/fierro5.png"
        class="h-44 w-auto object-contain rounded-2xl mb-4 transition-transform duration-300 transform hover:scale-105" />
      
      <h3 class="text-lg font-bold text-gray-800">Fierro Corrugado - 1/4''</h3>
      <p class="mt-2 text-sm text-gray-600">Es una barra de acero delgada con resaltes, utilizada en refuerzos secundarios, mallas, estribos y elementos livianos. Ofrece buena flexibilidad y adherencia al concreto, ideal para detalles estructurales y acabados.</p>
    </article>

        <!-- Producto 6 -->

      <article
      class="flex flex-col items-center text-center bg-white shadow-md rounded-3xl p-6 hover:shadow-lg transition-shadow duration-300 h-full">
      
      <img alt="Producto 2" src="/assets/producto/fierro5.png"
        class="h-44 w-auto object-contain rounded-2xl mb-4 transition-transform duration-300 transform hover:scale-105" />
      
      <h3 class="text-lg font-bold text-gray-800">Fierro Corrugado - 6mm</h3>
      <p class="mt-2 text-sm text-gray-600">Es una barra de acero delgada con resaltes, equivalente a 1/4'', utilizada en estribos, mallas electrosoldadas y refuerzos secundarios. Brinda buena adherencia al concreto y es ideal para detalles estructurales y construcciones livianas.</p>
    </article>

  </div>
</div>
</section>