<section id="fondo" class="py-8 bg-cover bg-center ">
  <div class="text-gray-800 flex justify-center items-center min-h-screen px-3">
    <!-- Formulario de consulta como tarjeta -->

    <div class="bg-white p-8 shadow-xl rounded-xl w-full max-w-4xl">
      <form [formGroup]="documentoForm" (ngSubmit)="EnviarConsulta()">
        <h3 class="text-xl lg:text-2xl font-semibold text-center mb-3">Comprobantes de pago electrónicos​</h3>
        <p class=" mb-4 lg:mb-4 text-sm lg:text-lg">Estimado cliente, para realizar la descarga de sus comprobantes,
          deberá ingresar la siguiente información:</p>
        <!-- Agrupación en fila -->
        <div class="flex flex-row gap-2">
          <!-- Campo RUC -->
          <div class="mb-4 w-full md:w-1/2">
            <label for="ruc" class="block text-md lg:text-lg font-semibold text-gray-700">Ruc*</label>
            <input id="ruc" type="text" formControlName="ruc"
              class="mt-2 p-3 w-full border border-gray-300 rounded-lg shadow-sm focus:ring-2 focus:ring-blue-500 placeholder:text-sm"
              placeholder="Ingresa tu RUC" />
            <p *ngIf="documentoForm.get('ruc')?.invalid && documentoForm.get('ruc')?.touched"
              class="text-red-500 text-sm">
              El RUC es obligatorio y solo puede contener números.
            </p>
          </div>
        </div>
        <!-- Agrupación en fila -->
        <div class="flex flex-row gap-2">
          <!-- Campo fecha inicio -->
          <div class="mb-4 w-1/2 md:w-1/2">
            <label for="fechaDesde" class="block text-md lg:text-lg font-semibold text-gray-700 mb-1">Fecha
              Desde</label>
            <input id="fechaDesde" type="date" formControlName="fechaDesde"
              class="w-full p-3 border border-gray-300 rounded-lg shadow-sm focus:ring-2 focus:ring-blue-500 text-sm" />
          </div>

          <!-- Campo fecha fin -->
          <div class="mb-4 w-1/2 md:w-1/2">
            <label for="fechaHasta" class="block text-md lg:text-lg font-semibold text-gray-700 mb-1">Fecha
              Hasta</label>
            <input id="fechaHasta" type="date" formControlName="fechaHasta"
              class="w-full p-3 border border-gray-300 rounded-lg shadow-sm focus:ring-2 focus:ring-blue-500 text-sm" />
          </div>
        </div>


        <!-- Agrupación en fila -->
        <div class="flex flex-col md:flex-row gap-4">
          <!-- Campo tipo de comprobante -->
          <div class="mb-4 w-full md:w-1/2">
            <label for="tipoComprobante" class="block text-md lg:text-lg font-semibold text-gray-700 mb-2">Tipo de
              Comprobante*</label>
            <select id="tipoComprobante" formControlName="tipoComprobante"
              class="p-3 w-full border border-gray-300 rounded-lg shadow-sm focus:ring-2 focus:ring-blue-500 text-sm">
              <option disabled selected value="">Selecciona un tipo</option>
              <option value="boleta">Boleta</option>
              <option value="factura">Factura</option>
              <option value="notac">Nota de Crédito</option>
              <option value="notad">Nota de Débito</option>
            </select>
          </div>

          <!-- Campo serie -->
          <div class="mb-4 w-full md:w-1/2">
            <label for="serie" class="block text-md lg:text-lg font-semibold text-gray-700 mb-2">Serie - Número*</label>
            <input id="serie" type="text" formControlName="serie"
              class="p-3 w-full border border-gray-300 rounded-lg shadow-sm focus:ring-2 focus:ring-blue-500 placeholder:text-sm"
              placeholder="Ejemplo: FA01-17" />
            <p *ngIf="documentoForm.get('serie')?.invalid && documentoForm.get('serie')?.touched"
              class="text-red-500 text-sm">
              El número de serie es obligatorio.
            </p>
          </div>
        </div>

        <!-- Botones o spinner -->
        <div class="flex justify-center items-center space-x-4 mt-4">
          <ng-container *ngIf="!isLoading; else cargando">
            <button type="submit" [disabled]="documentoForm.invalid" class="px-8 py-4 text-white font-semibold bg-red-500 rounded-full shadow-lg hover:bg-red-600
              focus:outline-none focus:ring-4 focus:ring-red-400 focus:ring-opacity-50 transition duration-300 transform
              hover:scale-105 disabled:opacity-50 disabled:cursor-not-allowed">
              Consultar
            </button>

            <button type="button" (click)="LimpiarForm()" class="px-8 py-4 text-white font-semibold bg-blue-500 rounded-full shadow-lg hover:bg-blue-600
              focus:outline-none focus:ring-4 focus:ring-blue-400 focus:ring-opacity-50 transition duration-300 transform
              hover:scale-105">
              Limpiar
            </button>
          </ng-container>

          <!-- Spinner mientras carga -->
          <ng-template #cargando>
            <div class="flex justify-center items-center">
              <svg class="animate-spin h-8 w-8 text-red-500" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 24 24">
                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8v4a4 4 0 00-4 4H4z"></path>
              </svg>
            </div>
          </ng-template>
        </div>

      </form>
      <!-- Mostrar data despues de consultar-->
      <div>
        <!-- Mostrar resultados si existen -->
        <div *ngIf="resultados.length > 0"
          class="bg-white p-8 shadow-xl rounded-xl w-full max-w-4xl mt-6 overflow-x-auto">
          <h4 class="text-lg font-semibold mb-4 text-center">Resultados encontrados</h4>
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-100">
                <tr>
                  <th class="px-4 py-3 text-center text-sm font-semibold text-gray-700">N°</th>
                  <th class="px-6 py-3 text-center text-sm font-semibold text-gray-700">Fecha</th>
                  <th class="px-6 py-3 text-center text-sm font-semibold text-gray-700">Monto</th>
                  <th class="px-6 py-3 text-center text-sm font-semibold text-gray-700">Documento</th>
                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              <tr *ngFor="let item of resultados; let i = index">
                <td class="px-4 py-4 text-center text-sm text-gray-800">{{ i + 1 }}</td>
                <td class="px-6 py-4 text-center text-sm text-gray-800">{{ item.fecha }}</td>
                <td class="px-6 py-4 text-center text-sm text-gray-800">S/ {{ item.monto | number: '1.2-2' }}</td>
               <td class="px-6 py-4 flex justify-center items-center gap-2">
                  <a [href]="item.url" download target="_blank"
                    class="text-blue-600 hover:text-blue-800 flex items-center gap-1">
                    <img class="h-8 w-8 text-red-500" fill="none" viewBox="0 0 24 24"
                      src="https://img.icons8.com/papercut/60/pdf.png" alt="pdf" />
                  </a>
                  <a [href]="item.url" download target="_blank"
                    class="text-blue-600 hover:text-blue-800 flex items-center gap-1">
                    <img class="h-8 w-8 text-red-500" fill="none" viewBox="0 0 24 24"
                      src="https://img.icons8.com/fluency/50/ms-excel.png" alt="ms-excel" />
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- Mostrar mensaje solo si se consultó y no hay resultados -->
        <div *ngIf="seConsulto && resultados.length === 0" class="text-center mt-6 text-gray-600">
          No se encontraron resultados para los datos ingresados.
        </div>
      </div>

    </div>


  </div>
</section>