<!-- Página principal (Home ) -->
<section>
  <!--Carrusel-->
  <div class="mb-4 relative isolate overflow-hidden bg-gray-900 py-14 sm:py-24 md:py-48 lg:py-64">
    <div class="absolute inset-0 -z-10">
      <!-- Imagen -->
      <img *ngFor="let image of images; let i = index" [src]="image.src" alt="image"
        [class]="i === currentIndex ? 'block' : 'hidden'" class="absolute inset-0 w-full h-full object-cover" />

      <!-- Capa de oscurecimiento -->
      <div class="absolute inset-0 bg-black opacity-50"></div>
    </div>

    <!-- Botón de retroceso -->
    <button id="prevButton" (click)="goToPrevious()"
      class="absolute left-5 top-1/2 transform -translate-y-1/2 text-white p-4 rounded-full shadow-lg hover:bg-slate-200 hover:text-gray-500 focus:outline-none focus:ring-4 focus:ring-red-400 focus:ring-opacity-50 transition-all duration-300 ease-in-out">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
      </svg>
    </button>

    <!-- Botón de adelanto -->
    <button id="nextButton" (click)="goToNext()"
      class="absolute right-5 top-1/2 transform -translate-y-1/2 text-white p-4 rounded-full shadow-lg hover:bg-slate-200 hover:text-gray-500 focus:outline-none focus:ring-4 focus:ring-blue-400 focus:ring-opacity-50 transition-all duration-300 ease-in-out">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
      </svg>
    </button>

    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-7xl lg:mx-0 px-6 lg:px-8 flex flex-col justify-center items-center h-full">
        <!-- Título -->
        <h2 id="materiales-heading"
          class="text-5xl font-semibold tracking-tight text-white sm:text-4xl lg:text-6xl xl:text-7xl lg:whitespace-nowrap text-center">
          Materiales de Construcción
        </h2>
        <p id="materiales-description"
          class="mt-6 text-xl font-semibold text-white sm:text-2xl lg:text-3xl text-center">
          En Servicios Generales Gabriel & Zareli encontrarás los mejores
          materiales para construcción, mantenimiento o remodelación de tu
          vivienda.
        </p>
      </div>
      <!-- Botón de "Ver más" -->
      <div class="flex justify-center mt-10">
        <button
          class="px-6 py-3 text-white font-semibold bg-red-500 rounded-lg hover:bg-white hover:text-red-600 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-opacity-50 transition duration-300">
          Ver más
        </button>
      </div>
    </div>
  </div>

  <!-- Card Empresa -->
  <div
    class="py-16 flex flex-col md:flex-row bg-white shadow-lg hover:shadow-xl rounded-lg p-6 transition-all duration-300 ease-in-out max-w-7xl mx-auto mb-4">
    <!-- Imagen a la izquierda -->
    <div class="flex-shrink-0 w-full md:w-1/2 mb-4 md:mb-0 flex items-center justify-center">
      <img src="/assets/carrusel/imagen2.jpg" alt="Servicios Generales Gbriel & Zareli SAC"
        class="object-cover w-[90%] h-[300px] md:h-[400px] rounded-lg transition-transform duration-300 ease-in-out transform hover:scale-105" />
    </div>

    <!-- Contenido a la derecha -->
    <div class="flex-1 md:ml-6 flex flex-col justify-center">
      <h3 class="text-4xl font-semibold text-gray-800" style="font-family:'Times New Roman', Times, serif;">
        Servicios Generales Gabriel & Zareli SAC
      </h3>
      <p class="text-xl text-gray-600 mt-2 text-justify" style="font-family: 'Times New Roman', Times, serif;">
        Empresa peruana líder en la comercialización de productos de
        materiales de construcción. Con un enfoque en calidad, seguridad y
        eficiencia, nos especializamos en brindar soluciones innovadoras
        para cada uno de nuestros clientes.
      </p>

      <p class="text-xl text-gray-600 mt-4 text-justify" style="font-family: 'Times New Roman', Times, serif;">
        A lo largo de los años, hemos crecido gracias a la confianza de
        nuestros clientes y a un equipo altamente capacitado que asegura la
        excelencia en cada proyecto. Nos enorgullece ofrecer productos de la
        más alta calidad, respaldados por un servicio al cliente
        excepcional.
      </p>

      <!-- Años de experiencia -->
      <div class="mt-6 p-8 border-t-4 border-red-600 bg-gray-100 rounded-lg shadow-lg text-center">
        <h4 class="text-4xl font-semibold text-gray-800 flex items-center justify-center space-x-2">
          <span class="text-6xl text-red-600 font-bold transform tracking-wide text-shadow-lg"
            style="font-family: initial">
            10
          </span>
          <span class="text-2xl text-gray-800 font-bold" style="font-family: Verdana, Geneva, Tahoma, sans-serif">Años
            de experiencia</span>
        </h4>
      </div>
    </div>
  </div>

  <!-- Productos -->
  <div class="bg-red-500 lg:py-4 sm:py-1 mb-0">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <!-- Título con separación reducida -->
      <h5 class="text-center text-4xl font-semibold tracking-tight
      text-white sm:text-5xl mt-1 sm:mt-2" style="font-family:Georgia, 'Times New Roman', Times, serif">
        Nuestros Productos
      </h5>

      <div
        class="mx-auto mt-1 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:mt-2 sm:pt-8 lg:mx-0 lg:max-w-none lg:grid-cols-3">
        <!-- Producto 1 -->
        <article class="flex max-w-xl flex-col items-start justify-between">
          <div class="relative">
            <img alt="Alambre"
              src="https://images.unsplash.com/photo-1496128858413-b36217c2ce36?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=3603&amp;q=80"
              class="rounded-lg w-full shadow-lg transform hover:scale-105 transition duration-300" />
            <div id="texto-imagen"
              class="absolute bottom-4 left-0 right-0 text-center text-4xl font-semibold text-red-500 p-4 rounded-lg">
              <h3 class="text-2xl font-bold text-red-500 uppercase tracking-wider">
                Producto 1
              </h3>
            </div>
          </div>
        </article>

        <!-- Producto 2 -->
        <article class="flex max-w-xl flex-col items-start justify-between">
          <div class="relative">
            <img alt="Alambre"
              src="https://images.unsplash.com/photo-1496128858413-b36217c2ce36?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=3603&amp;q=80"
              class="rounded-lg w-full shadow-lg transform hover:scale-105 transition duration-300" />
            <div id="texto-imagen"
              class="absolute bottom-4 left-0 right-0 text-center text-4xl font-semibold text-red-500 p-4 rounded-lg">
              <h3 class="text-2xl font-bold text-red-500 uppercase tracking-wider">
                Producto 2
              </h3>
            </div>
          </div>
        </article>

        <!-- Producto 3 -->
        <article class="flex max-w-xl flex-col items-start justify-between">
          <div class="relative">
            <img alt="Alambre"
              src="https://images.unsplash.com/photo-1496128858413-b36217c2ce36?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=3603&amp;q=80"
              class="rounded-lg w-full shadow-lg transform hover:scale-105 transition duration-300" />
            <div id="texto-imagen"
              class="absolute bottom-4 left-0 right-0 text-center text-4xl font-semibold text-red-500 p-4 rounded-lg">
              <h3 class="text-2xl font-bold text-red-500 uppercase tracking-wider">
                Producto 3
              </h3>
            </div>
          </div>
        </article>

        <!-- Producto 4 -->
        <article class="flex max-w-xl flex-col items-start justify-between">
          <div class="relative">
            <img alt="Alambre"
              src="https://images.unsplash.com/photo-1496128858413-b36217c2ce36?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=3603&amp;q=80"
              class="rounded-lg w-full shadow-lg transform hover:scale-105 transition duration-300" />
            <div id="texto-imagen"
              class="absolute bottom-4 left-0 right-0 text-center text-4xl font-semibold text-red-500 p-4 rounded-lg">
              <h3 class="text-2xl font-bold text-red-500 uppercase tracking-wider">
                Producto 4
              </h3>
            </div>
          </div>
        </article>

        <!-- Producto 5 -->
        <article class="flex max-w-xl flex-col items-start justify-between">
          <div class="relative">
            <img alt="Alambre"
              src="https://images.unsplash.com/photo-1496128858413-b36217c2ce36?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=3603&amp;q=80"
              class="rounded-lg w-full shadow-lg transform hover:scale-105 transition duration-300" />
            <div id="texto-imagen"
              class="absolute bottom-4 left-0 right-0 text-center text-4xl font-semibold text-red-500 p-4 rounded-lg">
              <h3 class="text-2xl font-bold text-red-500 uppercase tracking-wider">
                Producto 5
              </h3>
            </div>
          </div>
        </article>

        <!-- Texto adicional y botón -->
        <article class="flex max-w-xl flex-col items-start justify-between">
          <div class="group relative">
            <p class="mt-4 text-lg text-gray-100 font-bold text-shadow-md"
              style="text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);">
              Ofrecemos una amplia variedad de productos de alta calidad
              para satisfacer tus necesidades en construcción.
            </p>
            <div class="mt-6 flex justify-center">
              <a href="#"
                class="px-8 py-4 text-black font-semibold bg-white rounded-full shadow-lg hover:bg-black hover:text-white focus:outline-none focus:ring-4 focus:ring-red-100 focus:ring-opacity-50 transition duration-300 transform hover:scale-105">
                Ver más
              </a>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>

  <!-- Flota Vehicular -->
  <div class="bg-white lg:py-4 sm:py-6  mb-0  bg-gradient-to-l from-white to-red-300">
    <!-- Eliminamos la línea de separación aquí y ajustamos el margen -->
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <!-- Contenedor de vehiculos -->
      <div
        class="mx-auto mt-4 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:mt-6 sm:pt-6 lg:mx-0 lg:max-w-none lg:grid-cols-3">
        <!-- Imagen 1 -->
        <article class="flex max-w-xl flex-col items-start justify-between">
          <img alt="Imagen 1"
            src="https://images.unsplash.com/photo-1496128858413-b36217c2ce36?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=3603&amp;q=80"
            class="rounded-2xl shadow-lg transition-transform duration-300 transform hover:scale-105" />
        </article>

        <!-- Imagen 2 -->
        <article class="flex max-w-xl flex-col items-start justify-between">
          <img alt="Imagen 2"
            src="https://images.unsplash.com/photo-1496128858413-b36217c2ce36?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=3603&amp;q=80"
            class="rounded-2xl shadow-lg transition-transform duration-300 transform hover:scale-105" />
        </article>

        <!-- Texto con botón -->
        <article class="flex max-w-xl flex-col items-center justify-center text-center">
          <div class="group relative">
            <h3 class="mt-3 text-2xl sm:text-3xl font-semibold text-gray-900 group-hover:text-gray-600">
              <span class="absolute inset-0"></span>
              Nuestra flota de vehículos
            </h3>
            <p class="mt-4 text-lg text-gray-800 font-bold">
              Contamos con una flota moderna y eficiente para satisfacer
              todas tus necesidades de transporte.
            </p>
            <div class="mt-6 flex justify-center">
              <a href="#"
                class="px-8 py-4 text-white font-semibold bg-red-500 rounded-full shadow-lg hover:bg-red-600 focus:outline-none focus:ring-4 focus:ring-red-400 focus:ring-opacity-50 transition duration-300 transform hover:scale-105">
                Ver más
              </a>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>

  <!-- Valores con Accordion -->
  <div class="bg-gray-100 ">
    <div class="bg-gray-100 sm:py-1  mx-auto max-w-7xl px-6 lg:px-8">
      <div class="bg-gray-100 py-24 sm:py-4">
        <div class="mx-auto max-w-2xl text-center">
          <h5 class="text-3xl font-semibold tracking-tight text-gray-900 sm:text-4xl">
            Nuestros Valores
          </h5>
        </div>

        <!-- Sección de Accordion -->
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-8 p-6">
          <div *ngFor="let value of values; let i = index">
            <div class="flex flex-col items-center">
              <!-- Botón Accordion con ícono dentro del mismo -->
              <div
                class="w-full bg-white rounded-lg transition-all duration-500 ease-in-out transform hover:scale-105 hover:shadow-xl shadow-lg">
                <button (click)="toggleAccordion(i)"
                  class="flex items-center justify-between w-full p-6 text-left text-gray-800 hover:bg-gray-200 focus:outline-none rounded-lg">
                  <h3 class="text-2xl font-semibold">{{ value.title }}</h3>
                  <!-- Ícono de flecha que cambia dependiendo del estado del Accordion -->
                  <span *ngIf="openedIndex === i; else downArrow">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 transform rotate-180" fill="none"
                      viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7">
                      </path>
                    </svg>
                  </span>
                  <ng-template #downArrow>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                      stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 15l-7 7-7-7">
                      </path>
                    </svg>
                  </ng-template>
                </button>
                <!-- Contenido del Accordion -->
                <div *ngIf="openedIndex === i" class="p-4 text-gray-600 bg-gray-50 rounded-b-lg">
                  <p>{{ value.description }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>