/* Espaciado y alineación */
#lineaR{
    background-color: #fc2727; /* Color de fondo oscuro */
    color: #ffffff; /* Color de texto blanco */
    padding: 1rem 3rem; /* Espacio entre el enlace y los demás elementos */
  }
  
  
  #mobile-menu {
    transition: transform 0.3s ease;
  }

/* Fuentes personalizadas */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

#materiales-heading {
  font-family: 'Inter', sans-serif; /* Cambia por cualquier fuente que prefieras */
}

#materiales-description {
  font-family: 'Roboto', sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
  

.wrap {
  display: flex;
  transition: transform 0.8s ease;
}

.wrap img {

  object-fit: cover;
  border-radius: 10px;
  padding: 0 8px;
  flex-shrink: 0;
}


