<section class="min-h-screen bg-white">
    <!-- Contenedor con la imagen de fondo y el texto -->
    <div class="relative w-full h-24 md:h-32 lg:h-36  ">
        <div class="image-container relative w-full h-full">
            <!-- Superposición y texto centrado -->
            <div class="absolute inset-0 bg-black bg-opacity-60 flex justify-center items-center">
                <h1 class="text-white text-xl md:text-3xl lg:text-4xl font-bold shadow-text">
                    Ladrillo
                </h1>
            </div>
        </div>
    </div>

  <!-- Contenedor con el texto y las tarjetas de productos -->

  <div class="mx-auto py-16 md:pl-10 md:pr-10  pl-8 pr-8 lg:pl-16 lg:pr-16 bg-white">
    <!-- Contenedor de productos -->
    <div class="grid max-w-7xl mx-auto grid-cols-1 gap-y-5 gap-x-8 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
      <!-- Producto 1 -->
      <article
        #card
        class="flex flex-col items-center text-center bg-white shadow-md rounded-3xl p-6 hover:shadow-lg transition-shadow duration-300 h-full
        w-full  bg-[url('/assets/producto/fondocar3.gif')]    bg-cover bg-center bg-no-repeat 
        "
          (mousemove)="onMouseMove($event, 0)"
          (mouseleave)="onMouseLeave(0)"
        >
        <img 
          #image
          alt="Producto 1" src="/assets/producto/king_norton.png"
          class="h-44 w-auto object-contain rounded-2xl mb-4 transition-transform duration-300 transform hover:scale-105" />
        <h3 class="text-lg font-bold text-gray-800">Ladrillo King Kong 18H <br>Norton</h3>
        <p class="mt-2 text-sm text-gray-600"> Fabricado con arcilla seleccionada, ofrece excelente durabilidad y acabado para construcciones sólidas y duraderas.</p>
      </article>

      <!-- Producto 2 -->
      <article
        #card
        class="flex flex-col items-center text-center bg-white shadow-md rounded-3xl p-6 hover:shadow-lg transition-shadow duration-300 h-full
        w-full  bg-[url('/assets/producto/fondocar3.gif')]    bg-cover bg-center bg-no-repeat 
        "
          (mousemove)="onMouseMove($event, 1)"
          (mouseleave)="onMouseLeave(1)"
        >
        <img 
        #image
        alt="Producto 1" src="/assets/producto/king_lark.png"
          class="h-44 w-auto object-contain rounded-2xl mb-4 transition-transform duration-300 transform hover:scale-105" />
        <h3 class="text-lg font-bold text-gray-800">Ladrillo King Kong 18H <br>Lark</h3>
        <p class="mt-2 text-sm text-gray-600"> Ladrillo de alta resistencia, ideal para la construcción de muros portantes y estructuras de carga exigentes.</p>
      </article>

      <!-- Producto 3 -->
      <article
        #card
        class="flex flex-col items-center text-center bg-white shadow-md rounded-3xl p-6 hover:shadow-lg transition-shadow duration-300 h-full
        w-full  bg-[url('/assets/producto/fondocar3.gif')]    bg-cover bg-center bg-no-repeat 
        "
        (mousemove)="onMouseMove($event, 2)"
        (mouseleave)="onMouseLeave(2)"
        >
        <img 
          #image
          alt="Producto 1" src="/assets/producto/king_taison.png"
          class="h-44 w-auto object-contain rounded-2xl mb-4 transition-transform duration-300 transform hover:scale-105" />
        <h3 class="text-lg font-bold text-gray-800">Ladrillo King Kong 18H <br>Taison</h3>
        <p class="mt-2 text-sm text-gray-600">Perfecto para edificaciones de varios niveles, con gran precisión dimensional y resistencia al impacto.</p>
      </article>

      <!-- Producto 4 -->
      <article
       #card
        class="flex flex-col items-center text-center bg-white shadow-md rounded-3xl p-6 hover:shadow-lg transition-shadow duration-300 h-full
        w-full  bg-[url('/assets/producto/fondocar3.gif')]    bg-cover bg-center bg-no-repeat 
        
        "
        (mousemove)="onMouseMove($event, 3)"
        (mouseleave)="onMouseLeave(3)"
        >

        <img 
        #image
        alt="Producto 1" src="/assets/producto/king_galca.png"
          class="h-44 w-auto object-contain rounded-2xl mb-4 transition-transform duration-300 transform hover:scale-105" />
        <h3 class="text-lg font-bold text-gray-800">Ladrillo King Kong 18H <br>Galca</h3>
        <p class="mt-2 text-sm text-gray-600">Perfecto para edificaciones de varios niveles, con gran precisión dimensional y resistencia al impacto.</p>
      </article>



      <!-- Producto 5 -->
      <article
        #card
        class="flex flex-col items-center text-center bg-white shadow-md rounded-3xl p-6 hover:shadow-lg transition-shadow duration-300 h-full
        w-full  bg-[url('/assets/producto/fondocar3.gif')]    bg-cover bg-center bg-no-repeat 
        "
        (mousemove)="onMouseMove($event, 4)"
        (mouseleave)="onMouseLeave(4)"
        >
        <img 
        #image
        alt="Producto 1" src="/assets/producto/techo_lark.png"
          class="h-44 w-auto object-contain rounded-2xl mb-4 transition-transform duration-300 transform hover:scale-105" />
        <h3 class="text-lg font-bold text-gray-800">Ladrillo Techo Lark</h3>
        <p class="mt-2 text-sm text-gray-600">  Ladrillo alveolar ligero, diseñado para aligerar losas con viguetas prefabricadas. Su estructura permite una mejor aislación térmica y acústica, reduciendo el peso total de la losa y mejorando el confort interior.</p>
      </article>


        <article
        #card
        class="flex flex-col items-center text-center bg-white shadow-md rounded-3xl p-6 hover:shadow-lg transition-shadow duration-300 h-full
        w-full  bg-[url('/assets/producto/fondocar3.gif')]    bg-cover bg-center bg-no-repeat 
        "
        (mousemove)="onMouseMove($event,5)"
        (mouseleave)="onMouseLeave(5)"
        >
        <img 
        #image
        alt="Producto 1" src="/assets/producto/techo_galca.png"
          class="h-44 w-auto object-contain rounded-2xl mb-4 transition-transform duration-300 transform hover:scale-105" />
        <h3 class="text-lg font-bold text-gray-800">Ladrillo Techo Galca</h3>
        <p class="mt-2 text-sm text-gray-600">  Ladrillo de techo macizo y resistente, ideal para sistemas de losa aligerada en edificaciones de mayor exigencia estructural. Ofrece buena capacidad portante y se adapta fácilmente a viguetas tradicionales o pretensadas.</p>
      </article>


    <!-- Producto 6 -->
      <article
        #card
        class="flex flex-col items-center text-center bg-white shadow-md rounded-3xl p-6 hover:shadow-lg transition-shadow duration-300 h-full
        w-full  bg-[url('/assets/producto/fondocar3.gif')]    bg-cover bg-center bg-no-repeat 
        "
        (mousemove)="onMouseMove($event,6)"
        (mouseleave)="onMouseLeave(6)"
        >
        <img 
        #image
        alt="Producto 1" src="/assets/producto/ladrillo4.png"
          class="h-44 w-auto object-contain rounded-2xl mb-4 transition-transform duration-300 transform hover:scale-105" />
        <h3 class="text-lg font-bold text-gray-800">Ladrillo Pandereta -> (Larck, Taison, Norton, Galca)</h3>
        <p class="mt-2 text-sm text-gray-600">Ladrillo liviano y delgado, usado principalmente para muros divisorios no estructurales. Es económico, fácil de manejar y permite una construcción rápida en interiores y cerramientos.</p>
      </article>



    </div>
  </div>
</section>