<section class="min-h-screen bg-gray-100">
    <!-- Contenedor con la imagen de fondo y el texto -->
    <div class="relative w-full h-24 md:h-32 lg:h-36  ">
        <div class="image-container relative w-full h-full">
            <!-- Superposición y texto centrado -->
            <div class="absolute inset-0 bg-black bg-opacity-60 flex justify-center items-center">
                <h1 class="text-white text-xl md:text-3xl lg:text-4xl font-bold shadow-text">
                    Cemento
                </h1>
            </div>
        </div>
    </div>
<!-- Contenedor con el texto y las tarjetas de productos -->
<!-- Contenedor principal -->
<div class="mx-auto py-16 pl-16 pr-16 bg-gray-100">
  <!-- Contenedor de productos -->
  <div class="grid max-w-6xl mx-auto grid-cols-1 gap-y-12 gap-x-8 sm:grid-cols-2 lg:grid-cols-3">
    <!-- Producto 1 -->
    <article class="flex flex-col items-center text-center bg-white shadow-lg rounded-lg p-6 hover:shadow-xl transition-shadow duration-300">
      <img
        alt="Producto 1"
        src="/assets/producto/cemento.jpg"
        class="rounded-2xl mb-4 transition-transform duration-300 transform hover:scale-105 w-4/5 mx-auto"
      />
      <h3 class="text-lg font-bold text-gray-800">Cemento Inka - Ultra Resistente</h3>
      <p class="mt-2 text-sm text-gray-600">Cemento de alta calidad, ideal para construcciones que requieren gran durabilidad y resistencia.</p>
    </article>

    <!-- Producto 2 -->
    <article class="flex flex-col items-center text-center bg-white shadow-lg rounded-lg p-6 hover:shadow-xl transition-shadow duration-300">
      <img
        alt="Producto 2"
        src="/assets/producto/cemento2.jpg"
        class="rounded-2xl mb-4 transition-transform duration-300 transform hover:scale-105 w-4/5 mx-auto"
      />
      <h3 class="text-lg font-bold text-gray-800">Cemento Inka - Anti Salitre</h3>
      <p class="mt-2 text-sm text-gray-600">Cemento ideal para zonas húmedas o salinas, ya que protege las estructuras del salitre y la corrosión, asegurando mayor durabilidad. Ofrece alta resistencia y es perfecto para cimentaciones, muros y obras expuestas a ambientes agresivos.</p> 
    </article>

    <!-- Producto 3 -->
    <article class="flex flex-col items-center text-center bg-white shadow-lg rounded-lg p-6 hover:shadow-xl transition-shadow duration-300">
      <img
        alt="Producto 3"
        src="/assets/producto/cemento3.jpg"
        class="rounded-2xl mb-4 transition-transform duration-300 transform hover:scale-105 w-4/5 mx-auto"
      />
      <h3 class="text-lg font-bold text-gray-800">Cemento Inka - Portland Tipo I</h3>
      <p class="mt-2 text-sm text-gray-600">Cemento de uso general, ideal para todo tipo de construcciones convencionales como viviendas, veredas y losas. Ofrece buen fraguado, resistencia confiable y excelente trabajabilidad en obras no expuestas a condiciones agresivas.</p>
    </article>
        <!-- Producto 4 -->
        <article class="flex flex-col items-center text-center bg-white shadow-lg rounded-lg p-6 hover:shadow-xl transition-shadow duration-300">
          <img
            alt="Producto 4"
            src="/assets/producto/cemento4.jpg"
            class="rounded-2xl mb-4 transition-transform duration-300 transform hover:scale-105 w-4/5 mx-auto"
          />
          <h3 class="text-lg font-bold text-gray-800">Cemento Inka - Uso General</h3>
          <p class="mt-2 text-sm text-gray-600">Cemento Portland Tipo GU, ideal para todo tipo de construcciones comunes como viviendas, veredas, pisos y obras no expuestas a condiciones agresivas.</p>
        </article>
    
        <!-- Producto 5 -->
        <article class="flex flex-col items-center text-center bg-white shadow-lg rounded-lg p-6 hover:shadow-xl transition-shadow duration-300">
          <img
            alt="Producto 5"
            src="/assets/producto/cemento5.jpg"
            class="rounded-2xl mb-4 transition-transform duration-300 transform hover:scale-105 w-4/5 mx-auto"
          />
          <h3 class="text-lg font-bold text-gray-800">Cemento Pacasmayo - Fortimax</h3>
          <p class="mt-2 text-sm text-gray-600">Cemento hidráulico Tipo MS (Moderada Resistencia a los Sulfatos) y MH (Moderado Calor de Hidratación), diseñado para ofrecer alta durabilidad en construcciones expuestas a ambientes agresivos, como zonas costeras o con suelos húmedo-salitrosos.</p>
        </article>
    
  </div>
</div>

</section>