/* Espaciado y alineación */
#lineaR{
    background-color: #fc2727; /* Color de fondo oscuro */
    color: #ffffff; /* Color de texto blanco */
  }
  
  #mobile-menu {
    transition: transform 0.3s ease;
  }

/* Fuentes personalizadas */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

#materiales-heading {
  font-family: 'Inter', sans-serif; /* Cambia por cualquier fuente que prefieras */
}

#materiales-description {
  font-family: 'Roboto', sans-serif;
  font-size: 1.125rem; /* Tamanho de fuente ajustado */
 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
  
.whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.whatsapp:hover {
  background-color: #1eae57;
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.whatsapp-icon {
  transition: color 0.3s ease;
}

.whatsapp:hover .whatsapp-icon {
  color: #e5e5e5;
}
