<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js" defer></script>
  <!-- Usamos AlpineJS para interactividad -->
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <!-- Tailwind CSS -->

  <!-- Iconos-->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
</head>

<body>
  <!-- Línea roja con información -->
  <div class="bg-gray-900 text-white py-2">
    <div class="max-w-7xl mx-auto flex justify-between items-center px-4 sm:px-6 lg:px-8">
 
      <!-- Información de contacto -->
      <div class="flex items-center space-x-4">
        <span class="flex items-center">
          <i class="fas fa-map-marker-alt text-white mr-2"></i> Camino real, Trujillo
        </span>
        <span class="flex items-center">
          <i class="fas fa-phone-alt text-white mr-2"></i> (+51) 917700319
        </span>
        <span class="flex items-center">
          <i class="fas fa-envelope text-white mr-2"></i> zreliadfdfdf.com
        </span>
      </div>
      <!-- Redes sociales -->
      <div class="flex space-x-4">
        <a href="#" class="text-white hover:text-white"><i class="fab fa-facebook"></i></a>
        <a href="#" class="text-white hover:text-white"><i class="fab fa-instagram"></i></a>
        <a href="#" class="text-white hover:text-white"><i class="fab fa-youtube"></i></a>
        <a href="#" class="text-white hover:text-white"><i class="fab fa-tiktok"></i></a>
        <a href="#" class="text-white hover:text-white"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
  </div>
  <!-- Cabecera principal -->
  <header class="bg-white shadow-md">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex justify-between items-center py-4">
      <!-- Logo -->
      <div class="flex items-center">
        <img src="../assets/img/logo.jpeg" alt="Logo" class="h-16 w-auto">
      </div>
      <!-- Menú de navegación para escritorio -->
      <nav class="hidden md:flex space-x-8">
        <a href="#" class="text-gray-600 hover:text-red-500 font-medium">Inicio</a>
        <a href="#" class="text-gray-600 hover:text-red-500 font-medium">Nosotros</a>
        <div class="relative group">
          <a href="#" class="text-gray-600 hover:text-red-900 font-medium">Productos</a>
          <div class="absolute bg-white shadow-lg rounded-md mt-2 hidden group-hover:block">
            <a href="#" class="block px-4 py-2 text-gray-600 hover:bg-gray-100 hover:text-red-500">Producto 1</a>
            <a href="#" class="block px-4 py-2 text-gray-600 hover:bg-gray-100 hover:text-red-500">Producto 2</a>
          </div>
        </div>
        <a href="#" class="text-gray-600 hover:text-red-500 font-medium">Nuestra Flota</a>
        <a href="#" class="text-gray-600 hover:text-red-500 font-medium">Contáctenos</a>
      </nav>
        <!-- Botón menú móvil -->
        <button id="menu-button" class="md:hidden">
          <i class="fas fa-bars text-gray-900 text-2xl"></i>
        </button>
    </div>
    <!-- Menú móvil -->
    <div *ngIf="isMenuOpen" id="mobile-menu"
      class="fixed inset-0 bg-gray-900 bg-opacity-90 z-50 flex flex-col items-center justify-center">
      <nav class="text-center">
        <a href="#" class="block text-gray-100 hover:text-gray-400 text-lg py-2">Home</a>
        <a href="#" class="block text-gray-100 hover:text-gray-400 text-lg py-2">Services</a>
        <a href="#" class="block text-gray-100 hover:text-gray-400 text-lg py-2">Contacto</a>
      </nav>
      <button class="mt-6 text-gray-100 hover:text-red-400" (click)="toggleMenu()">Cerrar</button>
    </div>
  </header>

  <section>

  </section>
  <footer>

  </footer>
</body>

</html>