<section  >
    <div class="relative flex justify-center items-center h-24 md:h-32 lg:h-36">
        <!-- Contenedor con estilos agrupados -->
        <div class="image-container relative w-full h-full">
          <!-- Texto centrado -->
          <div class="absolute inset-0 bg-black bg-opacity-60 flex justify-center items-center">
            <h1 class="text-white text-lg md:text-2xl lg:text-3xl font-bold shadow-text">
              Nuestra Flota
            </h1>
          </div>
        </div>
      </div>
  
    <br>
    <!--Contenido v2-->
      <div
    class="bg-white text-gray-800 flex flex-col md:flex-row p-8 max-w-6xl mx-auto mb-10 shadow-lg rounded-lg"
  >
    <div class="text-left md:w-1/2 mb-6 md:mb-0">
      <h1 class="text-4xl font-bold mb-6 text-center md:text-left">
        Conoce más sobre nosotros
      </h1>
      <p class="text-lg text-justify leading-relaxed text-gray-700">
        Somos una destacada empresa peruana especializada en la comercialización
        de productos de alta calidad para el sector de la construcción. Desde el
        inicio de nuestras operaciones en 2015, hemos contado con el respaldo de
        las principales marcas del mercado. Nos enfocamos en la venta al por
        mayor y menor, así como en la distribución a ferreterías, constructoras
        y contratistas. Nuestro principal objetivo es satisfacer las necesidades
        de nuestros clientes, superando sus expectativas y posicionándonos como
        sus aliados estratégicos de confianza.
      </p>
    </div>
    <div class="md:w-1/2 flex justify-center items-center">
      <img
        src="/assets/nosotros/imagen2.jpg"
        alt="Imagen Conócenos"
        class="w-70 h-64 rounded-2xl border-8 border-gray-300 shadow-2xl shadow-red-500/50 object-cover transition-transform duration-300 hover:scale-105"
      />
    </div>
  </div>
  </section>
  